.admin-user {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;

  padding: 10px;

  border: 1px solid rgba(0, 0, 0, 0.3);

  &>div {
    display: flex;
    gap: 5px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    h2 {
      font-weight: 700;
    }

    &:not(:last-child) {
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    }
  }

  div.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      display: flex;
      align-items: center;
      gap: 3px;

      height: 40px;

      padding: 5px 10px;

      border: 1px solid #fff;
      background-color: transparent;

      color: inherit;
      text-align: start;
      text-decoration: none;

      cursor: pointer;

      transition: all 0.3s ease;

      &.active {
        border: 1px solid rgba(0, 0, 0, 0.3);

        span.text {
          width: 80px;
        }
      }

      &:hover {
        background-color: rgb(50, 50, 50);
        color: #fff;

        span.text {
          width: 80px;
        }
      }

      span.text {
        display: flex;
        align-items: center;

        width: 0px;
        height: 27px;

        overflow: hidden;

        transition: width 0.3s ease;
      }

      span.material-symbols-outlined {
        font-size: 24px;
      }
    }
  }
}